DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=starci_user
DATABASE_PASSWORD=starci_password
DATABASE_NAME=starci_db
JWT_SECRET=change-me
PORT=3000
SEED_ADMIN_EMAIL=admin@test.com
SEED_ADMIN_PASSWORD=123456
